.menu {
    cursor: pointer;
}

nav {
    background-color: #0dcaf0;
    width:20%;
    max-height:0px;
    overflow:hidden;
    transition: .5s all; 
    margin-left: calc(1.5rem * -.5);
    position: absolute;
}

nav ul {
    list-style: none;
}

nav ul li a {
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    line-height: 50px;
    padding: 10px;
}

nav ul li:hover {
    background-color: black;
}

.mostrar {
    max-height:500px;
}